<!-- <p>checkinout works!</p>
<h2>Check-in/Check-out</h2>


<button type="button" class="btn btn-outline-success m-2 px-4 py-2" (click)="checkIn()">Check In</button>
<button type="button" class="btn btn-outline-success m-2 px-4 py-2" (click)="checkOut()">Check Out</button>
<div>
  <table class="table overflow-auto">
    <thead>
      <tr>
        <th scope="col">Ser. No</th>
        <th scope="col">Check-In Date</th>
        <th scope="col"> Check-In Time</th>
        <th scope="col">Check-Out Date</th>
        <th scope="col">Check-Out Time</th>
        <th scope="col">Total time </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of checkinCheckoutData; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.handle }}</td>
      </tr>
    </tbody>
  </table>
</div> -->