.login-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 450px;
}

input::placeholder {
    color: var(--secondary-light);
}

.custom-placeholder::placeholder {
    color: var(--secondary-light);
}